* {
  margin :0;
  padding : 0;
  box-sizing: border-box;
}

html,body {
  width: 100%;
  height: 100%;
}

.scroll-bar-wrap {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 10px;
  background-color: #fff;
}

.scroll-bar {
  width: 0%;
  height: 100%;
  background-color: #ff4967;
}

.main-wrap {
  width: 100%;
  height: 100%;
  background: url(../images/bg_main.jpg) no-repeat center;
  background-size: cover;
}

.about-wrap {
  width: 100%;
  height: 600px;
  background-color: #f4f4f4;
}
